<div class="p-10">  
    <div class="max-w-sm rounded overflow-hidden shadow-lg">
        <div id="board{{this.boardId}}" style="width: 100%"></div>
        <div class="px-6 py-4">
            <div class="font-bold text-xl mb-2">{{this.game.name}}</div>
            <p class="text-gray-700 text-base truncate">
                {{this.game.moves}}
            </p>
        </div>
        <div class="px-3 pt-2 pb-2">
            <a routerLink="/browse/{{this.tokenId}}" class="text-purple-500 background-transparent font-bold uppercase px-3 py-1 text-xs outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150">View</a>
        </div>
        <div *ngIf="this.owner" class="px-6 pt-4 pb-2">
            <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-xs font-semibold text-gray-700 mr-2 mb-2">Owner: {{this.owner}}</span>
        </div>
    </div>
</div>