<div class="bg-[url('/assets/images/black-and-white-chess-board-vector-file.png')] bg-cover bg-bottom flex flex-col justify-center items-center h-screen">
    <div class="bg-gradient-to-r from-purple-500 to-pink-500 py-2 pr-4 pl-3 flex flex-col justify-center items-center rounded">
        <a routerLink="/home" class="flex items-center">
            <img src="assets/images/rooke.png" class="mr-3 w-8 md:w-16 lg:w-24" alt="Chess NFT Logo" />
            <span class="self-center text-4xl font-semibold whitespace-nowrap dark:text-white">Chess NFT</span>
        </a>
        <H5 class="mt-1 text-4xl sm:text-4xl tracking-tight leading-tight text-center">Mint and collect chess games</H5>
    </div>
</div>
<div class="py-2 pr-4 pl-3 flex flex-col justify-center items-center">
    <div class="w-2/3 p-4 my-8 bg-white rounded-lg order border-gray-200 shadow-md sm:p-6 lg:p-8 dark:bg-gray-800 dark:border-gray-700">
        <div class="pb-4 mb-10 border-b border-gray-200 dark:border-gray-800 text-center">
            <h1 class="inline-block mb-2 text-3xl font-extrabold tracking-tight text-gray-900 dark:text-white">Collect your best moments</h1>
            <p class="mb-4 text-lg text-gray-500 dark:text-gray-400">Get started by minting your own Chess NFT from a played chess game in algebraic notation.</p>
        </div>
        <div>
            <p>Chess NFT is a decentralized application that allows users to mint, buy, sell, and collect Chess games. Games recorded into algebraic notation are minted into NFT collectables for showing off or trading.</p>
        </div>
    </div>
</div>